<div class="row display">
  <section class="small-12 medium-8 small-centered columns">
    <div id="graph">
    
      <div id="wind">
        <div title="<%= @meteo_data.wind_direction %>ยบ" class="wind_arrow arrow" style="transform: rotate(<%= @meteo_data.wind_direction %>deg); -webkit-transform: rotate(<%= @meteo_data.wind_direction %>deg);"></div>
      </div>

      <div id="swell">
        <div title="<%= @swell_data.direction %>ยบ" class="swell_arrow arrow" style="transform: rotate(<%= @swell_data.direction %>deg); -webkit-transform: rotate(-<%= @swell_data.direction %>deg);"></div>
      </div>
    </div>
  </section>

  <section id="info" class="small-12 medium-8 small-centered columns">
    <div class="row display">
      <div class="small-4 columns"><%= @swell_data.height %><small>m</small></div>
      <div class="small-4 columns"><%= @swell_data.period %><small>s</small></div>
      <div class="small-4 columns"><%= @meteo_data.wind_speed %><small>m/s</small></div>
    </div>
  </section>

</div>
<div class="row">

  <p class="small-12 medium-8 small-centered columns" id="timestamp"> <%= @swell_data.timestamp.strftime("%d/%m/%y a las %I:%M%p") %></p>
</div>

