<div class="row display">
  <section class="small-12 medium-8 small-centered columns">
    <div id="graph">

      <div id="wind">
        <div title="<%= @meteo_data.wind_direction %>ยบ" class="wind_arrow arrow" style="transform: rotate(<%= @meteo_data.wind_direction %>deg); -webkit-transform: rotate(<%= @meteo_data.wind_direction %>deg);"></div>
      </div>

      <div id="swell">
        <div title="<%= @swell_data.direction %>ยบ" class="swell_arrow arrow" style="transform: rotate(<%= @swell_data.direction %>deg); -webkit-transform: rotate(<%= @swell_data.direction %>deg);"></div>
      </div>
    </div>
  </section>

  <section id="info" class="small-12 medium-8 small-centered columns">
    <div class="row display">
      <div class="small-4 columns"><%= @meteo_data.wind_speed %><small>m/s</small></div>
      <div class="small-4 columns"><%= @swell_data.period %><small>s</small></div>
      <div class="small-4 columns"><%= @swell_data.height %><small>m</small></div>
    </div>
  </section>

  <p class="small-12 medium-8 small-centered columns" id="timestamp">
    <%= @swell_data.timestamp.strftime("%d/%m/%y a las %I:%M%p") %>
  </p>
</div>

<div class="row" id="historic_data">
  <div class="large-12">
    <table class="chart">
      <tbody>
        <% @historic_data.each do |data| %>
          <tr>
            <td>
              <p class="percentage"><%= time_decorator data.timestamp %></p>
            </td>
            <td>
              <p><%= data.wind_speed %>m/s</p><span class="wind_arrow" title="<%= data.wind_direction %>ยบ"  style="transform: rotate(<%= data.wind_direction %>deg); -webkit-transform: rotate(<%= data.wind_direction %>deg);"></span>
            </td>
            <!-- <td class="chart"> -->
            <td>
              <p><%= data.period %>s</p>
              <!-- <div class="barchart">
                <span class="meter" style="width: <%= percentage_for data.height %>%"></span>
              </div> -->
            </td>
            <td>
              <p><%= data.height %>m </p><span class="swell_arrow" title="<%= data.direction %>ยบ"  style="transform: rotate(<%= data.direction %>deg); -webkit-transform: rotate(<%= data.direction %>deg);"></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>